.grid {
  background-color: #fc861e;
}
.top-nav {
  overflow: hidden;
}
.a {
  float: left;
  text-align: center;
}
.rest {
  text-align: right;
  font-size: 22px;
  padding: 14px 16px;
  color: #ffffff;
}

.img {
  height: 600px;
}

.part1 {
  height: 550px;
  /* padding: 0; */
  background-image: url("../assets/photo.jpg");
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-logo {
  font-size: 32px;
  font-weight: 900;
  color: #ffffff;
}

.h-text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #19fa19;
  font-size: 60px;
}

.b-text {
  font-family: cursive;
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .h-text {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #19fa19;
    font-size: 30px;
  }

  .b-text {
    font-family: cursive;
    font-size: 15px;
  }
}

.about-img {
  padding: 60px;
}

.about {
  padding-top: 80px;
}

.h-about-text {
  /* padding-left: 100px; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #19fa19;
  font-size: 30px;
}

.b-about-text {
  font-family: cursive;
  color: #fc861e;
  font-size: 15px;
}

.footer {
  height: 40px;
  margin-top: 40px;
}

.f-text {
  color: #000000;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .top-nav {
    height: 55px;
  }
}
